
.do input:hover{
	cursor: pointer;
}
.add_com input{
	border: 0px;
	height: 30px;
}
.picture_box input:hover{
	cursor: pointer;
}
.picture_box{
	width: 124px;
	height: 150px;
	float: right;
	margin-right: 135px;
}
.right_box table{
	width: 700px;
	height: 160px;
	margin: auto;
}
.right_box table td input{
	text-align: center;
}
.right_box{
	width: 800px;
	height: 330px;
	margin: auto;
	border: 5px solid #666;
}
.right_box table tr{
	margin-top: 20px;
}
