<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Online shopping mall</title>
	</head>
	<link rel="stylesheet" href="css/index.css"/>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<?php if($bool){ ?>
			<div id="body">
				<div class="body_top">
					<div id="" class="menu_box">
						<ul class="u1">
							<li class="l1">
								<a href="">a</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">b</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">c</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">d</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">e</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">f</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">ad</a></li>
										<li class="l2"><a href="">bd</a></li>
										<li class="l2"><a href="">cd</a></li>
										<li class="l2"><a href="">dd</a></li>
										<li class="l2"><a href="">fd</a></li>
										<li class="l2"><a href="">gd</a></li>
										<li class="l2"><a href="">hd</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">g</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">a</a></li>
										<li class="l2"><a href="">b</a></li>
										<li class="l2"><a href="">c</a></li>
										<li class="l2"><a href="">d</a></li>
										<li class="l2"><a href="">f</a></li>
										<li class="l2"><a href="">g</a></li>
										<li class="l2"><a href="">h</a></li>
									</ul>
								</div>
							</li>
							<li class="l1"><a href="">h</a>
								<div id="" class="menu_box2">
									<ul class="u1">
										<li class="l2"><a href="">aa</a></li>
										<li class="l2"><a href="">bb</a></li>
										<li class="l2"><a href="">cc</a></li>
										<li class="l2"><a href="">dd</a></li>
										<li class="l2"><a href="">fg</a></li>
										<li class="l2"><a href="">gf</a></li>
										<li class="l2"><a href="">hh</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div id="" class="body_picture_box">
						<ul>
							<li class="body_picture" style="display: block;"><a href="" class="lib"><img src="img/index1.jpg"/></a></li>
							<li class="body_picture"><a href="" class="lib"><img src="img/index2.jpg"/></a></li>
							<li class="body_picture"><a href="" class="lib"><img src="img/index3.jpg"/></a></li>
							<li class="body_picture"><a href="" class="lib"><img src="img/index4.jpg"/></a></li>
							<li class="body_picture"><a href="" class="lib"><img src="img/index5.jpg"/></a></li>
						</ul>
						<ol>
							<li class="on"></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ol>
					</div>
					<div class="picture_right">
						<a href="" class="lib"><img src="./img/index11.jpg"/></a>
						<a href="" class="lib"><img src="./img/index12.jpg"/></a>
						<a href="" class="lib"><img src="./img/index13.jpg"/></a>
					</div>
				</div>
				<div id="" class="tui">
					<b>热推：</b>
				</div>
				<div class="body_body">
					<?php foreach($res as $row){ ?>
						<div id="commodity">
							<a target="_blank" href="commodity_details.php?id=<?php echo $row['id']; ?>&hits=<?php echo $row['hits']; ?>">
								<img id="productpicture" src="<?php echo $row['productpicture']; ?>"/>
							</a>
							<span id="" class="price">
								<b>
							 		￥<?php if($row['commodityprice']*$row['discount'] == $row['commodityprice']){ echo $row['commodityprice']; }else{ echo ($row['commodityprice']*$row['discount']); } ?>
							 	</b>
							</span>
							<br />
							<a target="_blank" href="commodity_details.php?id=<?php echo $row['id']; ?>&hits=<?php echo $row['hits']; ?>" id="name" title="<?php echo $row['commodityname']; ?>">
								<?php echo $row['commodityname']; ?>
							</a>
							<br />
							<span id="" class="discount">
								<b>
							 		<?php if($row['discount'] != 1){ echo '限时'.($row['discount']*10).'折！'; } ?>
							 	</b>
							</span>
							<br />
							<span id="control">
								<?php if($login): ?>
									<a id="controla" href="shopping_cart_add.php?id=<?php echo $row['id']; ?>&userid=<?php echo $userinfo['id']; ?>" class="a">
										<b>
											加入购物车
										</b>
									</a>
									<br />
									<a id="controla" href="" class="a">
										<b>施工中...</b>
									</a>
								<?php else: ?>
									<a id="controla" href="login.php" class="a">
										<b>
											加入购物车
										</b>
									</a>
									<br />
									<a id="controla" href="login.php" class="a">
										<b>立即购买</b>
									</a>
								<?php endIf; ?>
							</span>
							<br />
							<a href="index.php" class="a" id="sakura">
								<?php echo $row['manufacturer']; ?>
								<img id="sakurapicture" src="img/sakura.jpg"/>
							</a>
						</div>
					<?php } ?>
				</div>
			</div>
		<?php }else{ ?>
			<div class="body_body">
				<?php foreach($res as $row){ ?>
					<div id="commodity">
						<a target="_blank" href="commodity_details.php?id=<?php echo $row['id']; ?>&hits=<?php echo $row['hits']; ?>">
							<img id="productpicture" src="<?php echo $row['productpicture']; ?>"/>
						</a>
						<span id="" class="price">
							<b>
						 		￥<?php if($row['commodityprice']*$row['discount'] == $row['commodityprice']){ echo $row['commodityprice']; }else{ echo ($row['commodityprice']*$row['discount']); } ?>
						 	</b>
						</span>
						<br />
						<a target="_blank" href="commodity_details.php?id=<?php echo $row['id']; ?>&hits=<?php echo $row['hits']; ?>" id="name" title="<?php echo $row['commodityname']; ?>">
							<?php echo $row['commodityname']; ?>
						</a>
						<br />
						<span id="" class="discount">
							<b>
						 		<?php if($row['discount'] != 1){ echo '限时'.($row['discount']*10).'折！'; } ?>
						 	</b>
						</span>
						<br />
						<span id="control">
							<?php if($login): ?>
								<a id="controla" href="shopping_cart_add.php?id=<?php echo $row['id']; ?>&userid=<?php echo $userinfo['id']; ?>" class="a">
									<b>
										加入购物车
									</b>
								</a>
								<br />
								<a id="controla" href="" class="a">
									<b>施工中...</b>
								</a>
							<?php else: ?>
								<a id="controla" href="login.php" class="a">
									<b>
										加入购物车
									</b>
								</a>
								<br />
								<a id="controla" href="login.php" class="a">
									<b>立即购买</b>
								</a>
							<?php endIf; ?>
						</span>
						<br />
						<a href="index.php" class="a" id="sakura">
							<?php echo $row['manufacturer']; ?>
							<img id="sakurapicture" src="img/sakura.jpg"/>
						</a>
					</div>
				<?php } ?>
			</div>
			<div  class="page">
				<?php echo $page_html; ?>
			</div>
		<?php } ?>
	</body>
</html>
